* {
    margin: 0;
    padding: 0;
}

.closed {
    transform: translateY(-110%);
    animation-fill-mode: forwards;
}

.rollout {
    animation: rollOut 1s;
    animation-fill-mode: forwards;
}

#rolloutUI {
    position: absolute;
    background-color: rgb(172, 228, 191);
    border: 3px solid black;
    width: 500px;
    height: 500px;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
}

#rolloutTab {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: auto;
}

#rolloutContainer {
    display: flex;
    justify-content: center;
    padding: 25px;
}

@keyframes rollOut {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(-5%);
	}
}

body {
    background: linear-gradient(90deg, black 0%, white 100%);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#headTimer {
    color: white;
    text-align: center;
}

#mainContainer {
    z-index: 0;
    width: 100%;
    height: 100%;
}

#parentGotchi {
    background-color: red;
    height: 550px;
    width: 450px;
    border-radius: 80%;
    margin: 50px auto;
    border: 3px solid rgb(0, 0, 0);
    align-self: center;
}

#screenContainer {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-left: 70px;
}

.iconSection {
    width: 306px;
    height: 50px;
    background-color: yellow;
}

canvas {
    border: 3px solid yellow;
    height: 200px;
    width: 300px;
    background-color: rgb(172, 228, 191);
}

.menu {
    padding: 3px;
    margin-left: 12px;
}

.grayedOut {
    opacity: 0.2;
}

.buttons {
    background-color: yellow;
    border: 5px solid rgb(100, 100, 7);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 40px;
}

.buttonActive {
    background-color: rgb(100, 100, 7);
}

#button2 {
    margin-left: 135px;
    margin-top: 50px;
}

#button3 {
    margin-left: 230px;
}